.stats{

display:flex;

gap:25px;

margin-top:60px;

flex-wrap:wrap;

justify-content:center;

}

.box{

padding:25px;

min-width:150px;

text-align:center;

border-radius:20px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.box:hover{

transform:translateY(-10px);

box-shadow:0 0 30px rgba(0,229,255,.4);

}

.box h2{

color:#00E5FF;

font-size:38px;

}

.box p{

margin-top:10px;

color:#94A3B8;

}

/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width:768px){

.stats{

justify-content:center;

gap:15px;

}

.box{

min-width:120px;

padding:18px;

}

.box h2{

font-size:30px;

}

.box p{

font-size:15px;

}

}
/* ========================= */
/* Mobile Only */
/* ========================= */

@media (max-width:768px){

.stats{

justify-content:center;

flex-wrap:wrap;

gap:15px;

}

.box{

min-width:120px;

padding:18px;

}

.box h2{

font-size:30px;

}

.box p{

font-size:15px;

}

}