.terminal{

padding:120px 8%;

}

.terminal-window{

background:#0b1020;

border:1px solid #00E5FF55;

border-radius:18px;

overflow:hidden;

box-shadow:0 0 40px rgba(0,229,255,.15);

}

.terminal-header{

height:55px;

display:flex;

align-items:center;

gap:12px;

padding:0 20px;

background:#111827;

}

.red,
.yellow,
.green{

width:14px;
height:14px;
border-radius:50%;

}

.red{
background:#ff5f56;
}

.yellow{
background:#ffbd2e;
}

.green{
background:#27c93f;
}

.terminal-header h3{

margin-left:15px;

font-size:18px;

color:#00E5FF;

}

.terminal-body{

padding:35px;

font-family:monospace;

font-size:18px;

line-height:2;

}

.terminal-body span{

color:#00E5FF;

}

.online{

color:#00ff88;

font-weight:bold;

}

.cursor{

animation:blink 1s infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}