.contact{

padding:120px 8%;

}

.contact h2{

text-align:center;

font-size:42px;

color:#00E5FF;

margin-bottom:60px;

letter-spacing:3px;

}

.contact-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.contact-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:35px;

text-align:center;

transition:.35s;

}

.clickable-card{

display:block;

text-decoration:none;

color:inherit;

cursor:pointer;

}

.contact-card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px rgba(0,229,255,.3);

}

.icon{

font-size:42px;

color:#00E5FF;

margin-bottom:20px;

}

.contact-card h3{

margin-bottom:15px;

color:#ffffff;

}

.contact-card p{

color:#cbd5e1;

word-break:break-word;

}
.clickable-card{

display:block;

text-decoration:none;

color:inherit;

cursor:pointer;

}